<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Keywords" content="关键字,关键词">
    <meta name="Description" content="描述和简介">
    <title>Title</title>
    <style type="text/css">
        *{margin:0;padding:0;}
        body,ul,li,ol,dl,dd,p,h1,h2,h3,h4,h5,h6{ margin:0;}
        a{text-decoration:none;}
        img{border:none;}
        ol,ul{list-style:none;}
	</style>
</head>
<body>
    <div id="app">
        <input type="checkbox" v-model="selectAll">全选<br>
        <input type="checkbox" v-for="a in arr" v-model="a.isSelected">
    </div>

    <script src="node_modules/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            computed: {
                  selectAll: {
                      get() {
                          return this.arr.every(item => item.isSelected)
                      },
                      set(val) {
                          return this.arr.forEach(item => item.isSelected = val)
                      }
                  }
            },
            data: {
                arr: [{isSelected: true}, {isSelected: true}]
            }
        })
    </script>
</body>
</html>